# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
*.so

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# React build
frontend/build/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

.env
EMAIL_SETUP_md